{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'pic/faviconW.png' %}" id="favicon">
        <title>{% block title %}  {% endblock %}</title>
        <!-- Шрифты -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <!-- Bootstrap Icon -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <!-- Swiper CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    </head>
    <body>
<!-- Шапка -->
<header class="shine-header container-fluid border-bottom">
    <div class="shine-header-container">
        <!-- Бургер-меню -->
        <button class="shine-burger-btn d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
            <i class="bi bi-list"></i>
        </button>
        <!-- Навигационные ссылки -->
        <nav class="shine-nav-links d-none d-xl-flex">
            <a class="shine-nav-link" href="{% url 'about' %}">О нас</a>
            <a class="shine-nav-link" href="{% url 'catalog' %}">Каталог</a>
            <a class="shine-nav-link" href="{% url 'news' %}">Новинки</a>
            <a class="shine-nav-link" href="{% url 'gift' %}">Подарки</a>
        </nav>
        <!-- Логотип -->
        <div class="shine-logo d-none d-xl-block">
            <a class="shine-logo-link" href="{% url 'main'%}">
                <h1 class="shine-logo-text">Shine</h1>
            </a>
        </div>
        <!-- Иконки -->
        <div class="shine-header-icons">
            <a class="shine-icon-btn" href="{% url 'helper' %}"><i class="bi bi-question-circle"></i></a>
            <a class="shine-icon-btn" href=""><i class="bi bi-heart"></i></a>
            <a class="shine-icon-btn" href=""><i class="bi bi-bag"></i></a>
            {% if request.user.is_superuser %}
                <a class="shine-icon-btn" href="#"><i class="bi bi-person-gear"></i></a>
                <a class="shine-icon-btn" href="{% url 'logout_view' %}"><i class="bi bi-box-arrow-right"></i></a>
            {% elif request.user.is_authenticated %}
                <a class="shine-icon-btn" href="{% url 'profile' %}"><i class="bi bi-person-check"></i></a>
                <a class="shine-icon-btn" href="{% url 'logout_view' %}"><i class="bi bi-box-arrow-right"></i></a>
            {% else %}
                <a class="shine-icon-btn" href="{% url 'login' %}"><i class="bi bi-person-add"></i></a>
            {% endif %}

        </div>
    </div>
</header>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" style="font-family: Great Vibes, cursive; font-weight: 400; font-size: 30px; text-align:center;margin:10px;">Меню</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <nav class="shine-mobile-nav">
            <a class="shine-mobile-nav-link" href="{% url 'about' %}">О нас</a>
            <a class="shine-mobile-nav-link" href="{% url 'catalog' %}">Каталог</a>
            <a class="shine-mobile-nav-link" href="{% url 'news' %}">Новинки</a>
            <a class="shine-mobile-nav-link" href="{% url 'gift' %}">Подарки</a>

        </nav>
    </div>
</div>
<!-- Контент -->
<main>
  {% block content %}{% endblock %}
</main>

<!-- Подвал -->
<footer class="shine-footer">
    <div class="shine-footer-container container">
        <div class="shine-footer-row row">
            <div class="shine-footer-col col-12 col-xl-2 mb-4 mb-xl-0">
                <h1 class="shine-footer-brand text-center text-xl-start">Shine</h1>
                <h6 class="shine-footer-subtitles">Украшения Shine</h6>
                <div class="shine-social-icons d-flex gap-2 justify-content-center justify-content-xl-start">
                    <i class="shine-social-icon bi bi-instagram"></i>
                    <i class="shine-social-icon bi bi-twitter"></i>
                    <i class="shine-social-icon bi bi-youtube"></i>
                </div>
            </div>
            <div class="shine-footer-col col-xl-2 d-none d-xl-block">
                <h6 class="shine-footer-title">Ссылки</h6>
                <a href="{% url 'catalog' %}" class="shine-footer-link d-block">Каталог</a>
                <a href="{% url 'news' %}" class="shine-footer-link d-block">Новинки</a>
                <a href="{% url 'gift' %}" class="shine-footer-link d-block">Подарки</a>
            </div>
            <div class="shine-footer-col col-xl-2 d-none d-xl-block">
                 <h6 class="shine-footer-title">Информация</h6>
                <a href="{% url 'about' %}" class="shine-footer-link d-block">О нас</a>
                <a href="{% url 'FAQ' %}" class="shine-footer-link d-block">Вопрос-Ответ</a>
                <a href="{% url 'delivery' %}" class="shine-footer-link d-block">Доставка и оплата</a>


            </div>

            <div class="shine-footer-col col-12 col-xl-3 mt-4 mt-xl-0">
                <h6 class="shine-footer-title text-center text-xl-start">Связаться с нами</h6>
                <p class="shine-footer-contact text-center text-xl-start">Тел.: +7 (989) 999-99-99</p>
                <p class="shine-footer-contact text-center text-xl-start">E-mail: shine@gmail.com</p>

            </div>

            <div class="shine-footer-col col-12 col-xl-3 mt-4 mt-xl-0">
                <h6 class="shine-footer-subtitle text-center text-xl-start">Вы можете быть на шаг впереди.</h6>
                <p class="shine-footer-desc text-center text-xl-start">Подпишитесь, чтобы постоянно узнавать о наших обновлениях.</p>
                <form class="shine-subscribe-form d-flex align-items-center position-relative">
                    <input type="email" class="shine-subscribe-input form-control" placeholder="Ваша почта" style="height: 40px; padding-right: 90px;">
                    <button class="shine-subscribe-btn position-absolute end-0" style="">ОТПРАВИТЬ</button>
                </form>
            </div>
        </div>
        <div class="shine-footer-copyright text-center mt-4">
            <small class="shine-copyright-text">© Shine, LLC</small>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>