{% extends "base.html" %}
{% load static %}
{% block title %} Помощь клиентам | Shine {% endblock %}
{% block content %}
<section class="help-container">

    <div class="breadcrumb">
        <a href="{% url 'main'%}" class="breadcrumb-a">Главная</a> / <span>Помощь</span>
    </div>

    <h1 class="page-title">Помощь для клиента</h1>

    <div class="help-sections">
        <div class="help-card" style="background-image: url('{% static 'pic/help/delivery.png' %}'); background-repeat: no-repeat; background-position: right; background-size: contain; ">
            <div class="text-helper">
                <h2>Доставка и оплата</h2>
                <p>Какие есть варианты доставки и способы оплаты. Сроки и стоимость доставки.</p>
                <a href="{% url 'delivery' %}" class="help-button ">Подробнее</a>
            </div>
        </div>
        <div class="contact-card" style="background-image: url('{% static 'pic/help/contact.png' %}');background-repeat: no-repeat; background-position:center;  background-size: contain; ">
            <div class="text-helper">
                <h2>Контактная информация</h2>
                <p>Контактная информация, адрес магазина, телефон и другая информация.</p>
                <a href="{% url 'contact' %}" class="help-button ">Связаться с нами</a>
            </div>
        </div>
        <div class="help-card" style="background-image: url('{% static 'pic/help/answer.png' %}'); background-position:center;  background-size: contain; ">
            <div class="text-helper">
                <h2>Популярные вопросы</h2>
                <p>Ответы на самые популярные вопросы, которые вы задаете нам на сайте.</p>
                <a href="{% url 'FAQ' %}" class="help-button ">Подробнее</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}